

<!-- This is a comment -->
<div class ="span5 offset8 text-center stolen-surfbox">

	<h1 class ="custom-font1 custom-h1"> Hello I'm Pratik! </h1>
	<br/>
	<h2 class ="custom-font2"> I'm having a lot of fun learning Ruby at the Firehose Weekend :P</h2>
	<br/>

	<%= link_to "Launch App", new_pic_path, :class =>'btn btn-large btn-warning' %>

</div>

